body{
    background-color:aqua;
}
.fa{
   color:blue;
}
.box{
    padding: 50px 0px;
}
.box-part{
    background-color:white;
    padding: 40px 5px;
    margin:40px 0px;
}
span{
    font-size:12px;
}
.text{
    margin: 20px 0px;
}
a{
    border-bottom: 1px solid blue;
}
